/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.content-wrapper{
	width: 90%;
	margin: 50px 0px 50px 20px;
	
}



/*-----------------Base Header - Footer Styles for all the pages ------------------*/

header,
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header{
	width: 15px 0;
	background-color: green;
	padding-top: 30px;
}

header a{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header img{
	width: 60%;
}

header .header-divider{
	width: 100%;
}

header .content-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 0px;
}

header .header-divider{
	width: 100%;
}

header nav{
	width: 60%;
	display: flex;
	align-items: center;
}


header nav ul{
	display: flex;
	list-style: none;
	justify-content: space-around;
	width: 100%;
	
}

footer{
	background-color: greenyellow;
}
footer p{
	margin: 0px;
	
}

footer .content-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	width: 100%;
	margin: 50px 0;
	background-color: coral;
	
}

footer .contact{
	text-align: center;
	background:  #CC3335;
	
}

footer .social{
	background: #916FE4;
	margin: 60px 0px;
	text-align: center;
}



/*---------------mobile homepage styles -----------*/

/*---------hero--------*/

.hero-area{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: yellow;
}
.hero-area h1{
	width: 85%;
}

/*-------aside----*/

aside{
	background-color: antiquewhite;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-flow: row wrap;
}

aside .content-wrapper{
	padding: 30px 0px 55px 0px;
	
}

/*---------feautures------*/
.feautures{
	background: #3DB1AC;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
}

	
.feautures h2{
	margin-bottom: 100px;
	width: 90%;
}
.feautures .feature-items{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}
.feautures p{
	margin: 0px;
}
.feautures article{
	width: 60%;
	margin-bottom: 100px;
}

/*-----reviews------*/
.reviews{
	display: flex;
	align-content: center;
	justify-content: center;
	background:#6472DC;
}

.reviews article{
	width: 90%;
}

.reviews h2{
	width: 50%;
}


/*-----------About page------------*/

.mission{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	background-color: orange;
}

.mission-content{
	width: 90%;
}


/*---contact--*/

.contact-section{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*-----------FAQ page ------------*/


.faq {
	background-color: #527158;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.faq-content{
	color: #ffffff;
	width: 90%;
}

.faq p{
	margin-bottom: 50px;
}

.faq h1{
	color: #ffffff;
	margin: 0px;
	width:60%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px){
	/*tablet size*/
	
	.content-wrapper{
		max-width: 650px;
		margin: 100px 0px;
	}
	
	
	header{
		padding: 10px 0px 0px 0px;
	}
	
	header .header-divider{
		display: none;
	}
	
	header .content-wrapper{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	
	header a{
		width: 30%;
		justify-content: flex-start;
	}
	
	header nav{
		width: 25%;
		
	}
	
	header nav ul {
		justify-content: space-between;
	}
	
	
	/*-------------aside----------------*/
	
	aside{
		display: flex;
	}
	
	aside .content-wrapper{
		display: flex;
		width: 100%;
		margin: 50px 0px;
	}
	
	aside .content-wrapper .signup-form,
	aside .content-wrapper .signup-text{
		
		width: 50%;
	}
	
	aside .content-wrapper .signup-text p{
		width: 85%
	}
	
	aside .content-wrapper .signup-form{
		margin-left: 100px;
	}
	
	/*-------------features-----------*/
	
	
	.feautures h2{
		width: 100%;
		font-size: 2em;
	}
	
	
	.feautures .feature-items{
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
		
	}
	
	
	
	.feautures article{
		display: flex;
		margin-left:0px;
		margin-right: 0px;
		flex-basis:45%;
	}
	
	.feautures .features-item-description{
		width: 85%;
		text-align: center;
		
		
}

	/*-------------review-------------*/



.reviews article{
		
	display: flex;
	justify-content: space-between;
	width: 100%;
}

	.reviews .team-building-text{
		width: 49%;
	}

/* ========================= ABOUT PAGE =================== */
	
/*------------mission------------*/	
	
	.mission .content-wrapper{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		
	}
	
	.mission h1{
		margin-bottom: 40px;
	}
	
	.mission-content{
		width:40%;
	}
	
	/*---------contact-----------*/	
	
	
	.contact-section{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: burlywood;
		
	}
	
	.contact-section .content-wrapper{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
/*because h1 and mission content are there own boxes then 
	when flex-flow is applied the h1 will go on its own line because 
	it is its own box and takes up alot of space. Before I was seperating the 
	h1 tags from the content wrapper because I didn't know how
	to keep it seperate from the content but now I get it*/
	
	/*======================FAQ PAGE ===================*/
	
/*----------faq-----------*/
	.faq{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.faq .content-wrapper{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	
	.faq-content{
		flex-basis: 46%;
	}
	.faq h1{
		margin-bottom: 40px;
	}
	
	
	
	.faq-content{
		flex-basis: 45%;
	}	
	
	
	/*--------------footer------------*/
	
	
	
footer .content-wrapper{
	background-color: aqua;
}

footer .footer-content{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}

footer .copyright{
	width: 100%;
	display: flex;
	justify-content: center;
}
}
	
	@media only screen and (min-width:1200px){
		/* desktop size*/



		
}
	
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

